<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

<!-- main header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div  -->
                <div class="col-md-6 col-12 main_header_left align-items-center container mt-3">
                <p>Welcome to the my Weather app</p>
                    <figure class="text-center">
                        <img src="images/404error.png " alt="amit" class="img-fluid" title="amit yadav">
                    </figure>
                    {{!-- <h1>{{>errorMsg}}</h1> --}}
                    <a href="/"><button>Go back to Home page</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>